.DS_Store
.classpath
.project
.settings
.springBeans
target
#Binary files like jpg, png, gif, swf should be stored on the gsp.
.swf
.jpg
.jpeg
.png
.gif
log4j.log
.idea
*.iml
*.ipr
*.iws
/bin
tmp.json
test/**

### Gradle template
.gradle
build/
out/